In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import LinearRegression

In [21]:
data = pd.read_csv("Life Expectancy Data.csv")
data.columns = data.columns.str.strip()
data.info()
cols = ["Life expectancy", "Status", "Alcohol", "GDP", "BMI", "Schooling"]
data[cols]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

      Life expectancy      Status  Alcohol         GDP   BMI  Schooling
0                65.0  Developing     0.01  584.259210  19.1       10.1
1                59.9  Developing     0.01  612.696514  18.6       10.0
2                59.9  Developing     0.01  631.744976  18.1        9.9
3                59.5  Developing     0.01  669.959000  17.6        9.8
4                59.2  Developing     0.01   63.537231  17.2        9.5
...               ...         ...      ...         ...   ...        ...
2933             44.3  Developing     4.36  454.366654  27.1        9.2
2934             44.5  Developing     4.06  453.351155  26.7        9.5
2935             44.8  Developing     4.43   57.348340  26.3       10.0
2936             45.3  Developing     1.72  548.587312  25.9        9.8
2937             46.0  Developing     1.68  547.358878  25.5        9.8

[2938 rows x 6 columns]

In [23]:
#Clean data
data = data[cols].dropna()
data

      Life expectancy      Status  Alcohol         GDP   BMI  Schooling
0                65.0  Developing     0.01  584.259210  19.1       10.1
1                59.9  Developing     0.01  612.696514  18.6       10.0
2                59.9  Developing     0.01  631.744976  18.1        9.9
3                59.5  Developing     0.01  669.959000  17.6        9.8
4                59.2  Developing     0.01   63.537231  17.2        9.5
...               ...         ...      ...         ...   ...        ...
2933             44.3  Developing     4.36  454.366654  27.1        9.2
2934             44.5  Developing     4.06  453.351155  26.7        9.5
2935             44.8  Developing     4.43   57.348340  26.3       10.0
2936             45.3  Developing     1.72  548.587312  25.9        9.8
2937             46.0  Developing     1.68  547.358878  25.5        9.8

[2311 rows x 6 columns]

In [ ]:
#Create a linear model
Y = data["Life expectancy"]
X = data.drop("Life expectancy", axis = 1)

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
2933    44.3
2934    44.5
2935    44.8
2936    45.3
2937    46.0
Name: Life expectancy, Length: 2311, dtype: float64